// Import All Page Style
@use "../sass/pages/all.scss" as *;
// impot global rules file to main file
@use "../sass/layout/global-rules";

// impot pages file to main file
@use "../sass/pages/contactus";
// Import Variables
@use "../sass/variables/color" as *;

// Import mixins
@use "../sass/helpers/mixins" as *;

// Import Functions
@use "../sass/functions/functions" as *;

/* Start Articles */
.articles {
  background-color: $section-color-two;
    .container {
      .main-title {
        margin-bottom: -5rem;
        margin-top: 5rem;
      }
        .article-box {
            @include breakpoints(small) {
                flex-direction: column;
                text-align: center;
            }
            direction: rtl;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 5rem;
            border-bottom: 1px solid gray;
            padding: 5rem  0;

            a {
                width: 30%;
                img {
                    max-width: 100%;
                    border-radius: 20px;
                    @include boxShadow;
                }
            }
            .column {
                display: flex;
                flex-direction: column;
                @include breakpoints(small) {
                    @include flexCenter;
                    text-align: center;
                }
                gap: 2rem;
                .read-more {
                    margin-top: 2rem;
                    a {
                        text-align: center;
                        background-color: $section-color;
                        padding: 10px 15px;
                        border-radius: 10px;
                        color: white;
                        &:hover {
                            svg {
                                padding-right: 12px;
                            }
                        }
                        svg {
                            padding-right: 8px;
                            transition: $transition;
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
        .page {
            direction: rtl;
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            padding: 3rem  0;
            margin-bottom: -3rem;
            @include breakpoints(medium) {
            justify-content: center;
            }
            a {
            padding: 0px 15px;
            font-weight: bolder;
            border: 1px solid #d8dde3;
            color: #333;
            display: flex;
            align-items: center;
            &.active {
                background: #006cb4;
                color: white;
                background: #006cb4;
                padding: 5px 15px;
            }
            }
        }
    }
}
/* End Articles */
// // Global Variable
