// Import All Page Style
@use "../sass/pages/all.scss" as *;
// impot global rules file to main file
@use "../sass/layout/global-rules";

// impot pages file to main file
@use "../sass/pages/contactus";
// Import Variables
@use "../sass/variables/color" as *;

// Import mixins
@use "../sass/helpers/mixins" as *;

// Import Functions
@use "../sass/functions/functions" as *;


/* Start Articles */
.article-info {
  background-color: $section-color-two;
    .container {


      .back {
        direction: rtl;

        margin: 1rem auto -3rem auto;
                svg {
          border-radius: 50%;
          background-color:#f5f9f7;
          font-size: $font-size;
          padding: 15px 20px;
          color: black;
        }
      }

      .main-title {
        margin-top: 3rem;
        margin-bottom: -2rem;
      }
      direction: rtl;
      .article-box {
        img {
        max-width: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 20px;
        @include boxShadow;
      }
      .article-title {  
        margin: 3rem auto;
        width: 100%;
        background-color: #eeeeee;
        font-size: $font-size;
        padding: 10px;
        direction: rtl;
        border-right: 3px solid $section-color;
      }
      .article-text {
        $font-size :$font-size-alt;
        font-weight: bolder;
        color: black;
      }
      }
      .share {
        margin: 5rem auto 0rem auto;
        font-size: $font-size;
        font-weight: bolder;
        @include flexCenter;
      }
      .addthis {
        direction: rtl;
        @include flexCenter;
        margin: 3rem auto 0rem auto;
      }
    }
}
