// Import All Page Style
@use "../sass/pages/all.scss" as *;
// impot global rules file to main file
@use "../sass/layout/global-rules";

// impot pages file to main file
@use "../sass/pages/contactus";
// Import Variables
@use "../sass/variables/color" as *;

// Import mixins
@use "../sass/helpers/mixins" as *;

// Import Functions
@use "../sass/functions/functions" as *;
// Global Variable
/* Start Branch */
.branch-info {
  background-color: $section-color-two;
  .container {
    .location {
      display: flex;
      direction: rtl;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .icon {
        margin: 0px auto -20px auto;  
        background-color: $section-color-two;
        z-index: 1000;
        svg {
          color: $second-color;
          font-size: calculate($font-size , 5);
          padding: 10px;
          }
      }
      .title {
        text-align: center;
        font-size: $font-size-alt;
        padding: 20px 30px;
        width: 100%;
        border-radius: 50px 0;
        color: $second-color;
        border: 1px solid $second-color;
      }
    }
    iframe {
      margin: 5rem auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 30px ;
      @include boxShadow;
    }
  }
}
/* End Branch */

/* Start Slider */
.slider {
    @include boxShadow;
    z-index: 100;
    .slide-one {
      transition: $transition;
      display: none;
      opacity: 0;

      img {
        width: 100%;
        max-width: 100%;
      }
      &.active {
        display: block;
        opacity: 1;
      }
    }
    .slide-two {
      display: none;
      opacity: 0;

      img {
        width: 100%;
        max-width: 100%;
      }
      &.active {
        display: block;
        opacity: 1;

      }
    }
}
/*