// Import All Page Style
@use "../sass/pages/all.scss" as *;
// impot global rules file to main file
@use "../sass/layout/global-rules";

// impot pages file to main file
@use "../sass/pages/contactus";
// Import Variables
@use "../sass/variables/color" as *;

// Import mixins
@use "../sass/helpers/mixins" as *;

// Import Functions
@use "../sass/functions/functions" as *;
/* Start Branch */
.branch {
  background-color: $section-color-two;
  .container {
    .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  .branches {
    @include boxShadow;
    text-align: center;
    border: 1px solid #D6D6D6;
    transition: $transition;
    &:hover {
      background-color: $second-color;
      border: none;
      svg {
        color: white;
      }
      .branch-name {
        color: white;
      }
    }
        a {
          padding: 10px;
          .icon {
            color: $second-color;
            font-size: calculate($font-size , 2) ;
            transition: $transition;
          }
          .branch-name {
            transition: $transition;
            color: $main-color;
            font-size: $font-size-alt;
            font-weight: bolder;
          }
        }
      }
    }
  }
}
/* End Branch */

