// Import All Page Style
@use "../sass/pages/all.scss" as *;
// impot global rules file to main file
@use "../sass/layout/global-rules";

// impot pages file to main file
@use "../sass/pages/contactus";
// Import Variables
@use "../sass/variables/color" as *;

// Import mixins
@use "../sass/helpers/mixins" as *;

// Import Functions
@use "../sass/functions/functions" as *;
/* Start about */
.about {
  background-color: $section-color-two;
  .container {
      .about-box {
          img {
            @include boxShadow;
            @include breakpoints(small) {
              width: 70%;
            }
            border-radius: 20px;
              max-width: 100%;
              width: 50%;
          }
          .name {
              font-size: $font-size;
              color: $main-color;
              font-weight: bolder;
          }
          .describe {
              margin-top: 2rem;
              line-height: 2!important;
          }
          .style-box{
              margin-top: 5rem;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
              @include breakpoints(small) {
                  flex-direction: column;
                  text-align: center;
              }
              gap: 5rem;
              direction: rtl;
          }
          .goals {
            @include breakpoints(small) {
              text-align: center !important;
            }
              direction: ltr;
              display: flex;
              // justify-content: flex !important;
              text-align: end !important;
          }
      }
  }

}
/* End about */