// Import All Page Style
@use "../sass/pages/all.scss" as *;
// impot global rules file to main file
@use "../sass/layout/global-rules";

// impot pages file to main file
@use "../sass/pages/contactus";
// Import Variables
@use "../sass/variables/color" as *;

// Import mixins
@use "../sass/helpers/mixins" as *;

// Import Functions
@use "../sass/functions/functions" as *;
// Global Variable

/* Start DoctorInfo */
.doctor-info {
  background-color: $section-color-two;
  @include breakpoints(small) {
    text-align:center;
    }
    .container {

      .back {
        direction: rtl;
        svg {
          margin-bottom: 5rem;
          border-radius: 50%;
          background-color:#f5f9f7;
          font-size: $font-size;
          padding: 15px 20px;
          color: black;
        }
      }
        .row {
          direction: rtl;
          @include breakpoints(small) {
            text-align:center;
            }
            img {
              @include imgShadow;
              @include breakpoints(small) {
                text-align:center;
                }
            }
            .info {
              @include breakpoints(small) {
              text-align:center;
              }
              .name {
                font-size: 30px;
              }
              .work {
                color: $section-color;
              }
              .branch {

                color: $main-color;
                cursor: pointer;
                svg {

                  transition: $transition;
                  padding-left: 3px;
                }
                &:hover {
                  svg {
                    padding-left: 6px;
                  }
                }
  
              }
            }
          }
    }
  }
/* End DoctorInfo */