// Import All Page Style
@use "../sass/pages/all.scss" as *;
// impot global rules file to main file
@use "../sass/layout/global-rules";

// impot pages file to main file
@use "../sass/pages/contactus";
// Import Variables
@use "../sass/variables/color" as *;

// Import mixins
@use "../sass/helpers/mixins" as *;

// Import Functions
@use "../sass/functions/functions" as *;
// Global Variable

/* Start Doctors */
.doctors {
  background-color: $section-color-two;
  .container {
    .title {
      h2 {
        @include breakpoints(small) {
          text-align: center;
        }
        margin-bottom: 3rem;
        direction: rtl;
        font-size: $font-size;
      }
    }
    .flex {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      @include breakpoints(small) {
        flex-direction: column;
      }
        .address-links {
          @include breakpoints(small) {
            margin-bottom: 3rem;
          }
            ul {
              display: flex;
              flex-direction: row-reverse;
              gap: 3rem;
              @include breakpoints(mobile) {
                gap: 1rem !important;
              }
               li {
                cursor: pointer;
                transition: $transition;
                padding-bottom: 1rem;
                &.active  {
                  border-bottom: 2px solid $main-color;
                  color: $main-color;
                }
                &:hover {
                  color: $main-color;
                  border-bottom: 2px solid $main-color;
                }
               }
            }
        }
        .doctors-list {
          display: flex;
          direction: rtl;
          select {
            width: 300px;
            @include breakpoints(mobile) {
              width: 250px;
            }
            font-size: $font-size-small;
            font-weight: bolder;
          }
        }
      }
    .doctors-cards {
      gap: 3rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      .doctor {
        .doctor-box {
          
          @include boxShadow;
          @include flexCenter;
          @include breakpoints(mobile) {
            width: 100%;
          }
          padding: 25px 35px;
          flex-direction: column;
          text-align: center; 
          width: 100%;
          width: 255px;
          height: fit-content;

            img {
              @include imgShadow;
            }
            .info {
              .branch {
                color: $main-color;
                cursor: pointer;
                svg {
                  transition: $transition;
                  padding-left: 3px;
                }
                &:hover {
                  svg {
                    padding-left: 6px;
                  }
                }
  
              }
  
            }
        }
      }
    }
  }
}
/* End Doctors */

