// Import All Page Style
@use "../sass/pages/all.scss" as *;
// impot global rules file to main file
@use "../sass/layout/global-rules";

// impot pages file to main file
@use "../sass/pages/contactus";
// Import Variables
@use "../sass/variables/color" as *;

// Import mixins
@use "../sass/helpers/mixins" as *;

// Import Functions
@use "../sass/functions/functions" as *;


/* Start job */
.jobs {
    direction: rtl;
    transition: $transition-slow;
    position: relative;
    right: -100%;
    &.active {
        right: 0%;
        left:0%;
    }
    .main-title {
        font-size: 40px;
        color: black;
        text-align: center;
        margin: 3rem auto;
        font-weight: bolder;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
        @include breakpoints(small) {
            width: 100%;
            flex-direction: column;
        }
        .job-card {
            cursor: pointer;
            text-align: center;
            img {
                max-width: 100%;
                width: 100%;
                vertical-align: middle;
            }
            .job-btn {
                padding: 10px 20px;
                color: white;
                font-size: $font-size;
                background-color: $section-color;
            }
        }

    }
}
/* End job */
/* Start Doctors-job*/
.doctors-form {
    direction: rtl;
    margin: 10rem 0 5rem 0;
    position: relative;
    left: -100%;
    transition: $transition-slow;
    display :none;
    &.active  {
        display: block;
        left: 0%;
    }
    .container {
        .row-box {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            @include breakpoints(small) {
              flex-direction: column;
              width: 100%;
            }
              .image {
                  img {
                      max-width: 100%;
                      width: 100%;
                      @include breakpoints(small) {
                        margin-bottom: 2rem;
                      }
                  }
              }
              form {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                .row-box {
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  gap: 2rem;
                  @include breakpoints(small) {
                    flex-direction: column;
                  }
                  .label-column {
                    @include breakpoints(small) {
                      margin-bottom: 2rem;
                    }
                    display: flex;
                    flex-direction: column;
                    width: 170%;
                    input {
                      @include btnNone;
                    width: 100%;
                    height: fit-content;
                    border: none;
                    border-bottom: 1px solid #d5d5d5;
                    padding-bottom: 1rem;
                    &::placeholder {
                      font-size: $font-size-small;
                      font-weight: bolder;
                    }
                  }
                  label {
                    font-size: $font-size-small;
                    font-weight: bolder;
                    padding-bottom: 1rem;
                  }
                  select {
                    @include btnNone;
                    border: none;
                    border-bottom: 1px solid #d5d5d5;
                    padding-bottom: 1rem;
                    font-size: $font-size-small;
                    font-weight: bolder;
                    color: #757575;
                    option {
                        color:#757575;
                        font-size: $font-size-small;
                        font-weight: bolder;
                      }
                  }
                }
                }
                #submit {
                  @include btnNone;
                  width: 100%;
                  font-size: 16px;
                  font-weight: bolder;
                  background-color: $second-color !important;
                  border-radius: 10px;
                  padding: 5px 9px;
                  color: white;
                }
              }
          }

    }

}
/* End Doctors-job*/
/* Start mange-job*/
.mange-form {
    direction: rtl;
    margin: 10rem 0 5rem 0;
    position: relative;
    left: -100%;
    transition: $transition-slow;
    display :none;
    &.active  {
        display: block;
        left: 0%;
    }
    .container {
        .row-box {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            @include breakpoints(small) {
              flex-direction: column;
              width: 100%;
            }
              .image {
                  img {
                      max-width: 100%;
                      width: 100%;
                      @include breakpoints(small) {
                        margin-bottom: 2rem;
                      }
                  }
              }
              form {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                .row-box {
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  gap: 2rem;
                  @include breakpoints(small) {
                    flex-direction: column;
                  }
                  .label-column {
                    &.label-none-mange {
                      display: none;
                      &.active {
                          display:flex;
                      }
                  }
                    &.label-none-clinic {
                      display: none;
                      &.active {
                          display:flex;
                      }
                  }
                    @include breakpoints(small) {
                      margin-bottom: 2rem;
                    }
                    display: flex;
                    flex-direction: column;
                    width: 170%;
                    input {
                      @include btnNone;
                    width: 100%;
                    height: fit-content;
                    border: none;
                    border-bottom: 1px solid #d5d5d5;
                    padding-bottom: 1rem;
                    &::placeholder {
                      font-size: $font-size-small;
                      font-weight: bolder;
                    }
                  }
                  label {
                    font-size: $font-size-small;
                    font-weight: bolder;
                    padding-bottom: 1rem;
                  }
                  select {
                    @include btnNone;
                    border: none;
                    border-bottom: 1px solid #d5d5d5;
                    padding-bottom: 1rem;
                    font-size: $font-size-small;
                    font-weight: bolder;
                    color: #757575;
                    option {
                        color:#757575;
                        font-size: $font-size-small;
                        font-weight: bolder;
                      }
                  }
                }
                }

                #submit {
                  @include btnNone;
                  width: 100%;
                  font-size: 16px;
                  font-weight: bolder;
                  background-color: $second-color !important;
                  border-radius: 10px;
                  padding: 5px 9px;
                  color: white;
                }
              }
          }

    }

}
/* End mange-job*/