// Import All Page Style
@use "../sass/pages/all.scss" as *;
// impot global rules file to main file
@use "../sass/layout/global-rules";

// impot pages file to main file
@use "../sass/pages/contactus";
// Import Variables
@use "../sass/variables/color" as *;

// Import mixins
@use "../sass/helpers/mixins" as *;

// Import Functions
@use "../sass/functions/functions" as *;
// Global Variable

/* Start Services*/
.services {
  background-color: $section-color-two;
  position: relative;
  .special-title {
    color: black;
  }
  .special-span-two {
    background-color: #777;
  }
  .container {

    .row {
      margin-bottom: 5%;
      gap: 2rem;
      display: flex;
      @include flexCenter;
      .card {
        @include flexCenter;
        background: $color-hover;
        width: 100%;
        max-width: 220px;
        width: 100%;
        transition: $transition;
        a {
        padding: 30px 20px;
          
        }
        img {
          width: 50%;
          max-width: 180px;
          margin: 0 auto;
          display: block;
        }
        p {
          text-align: center;
          font-size: $font-size-small;
          color: white;
          font-weight: 500;
        }
        &:hover {
          margin-top: -1%;
        }
      }
    } 
    .booking-btn {
      @include flexCenter;
      @include none;
      transition: $transition;
      background-color: $second-color;
      width: 270px;
      height: 80px;
      margin: auto;
      padding: 10px 20px;
      border-radius: 5px;
      &:hover {
        svg {
          padding-left: 15px;
        }
      }
      button {
        @include btnNone;
          color: white;
          font-weight: bolder;
          transition: $transition;
          font-size: $font-size;
          svg {
          transition: $transition;
          padding-left: 10px;
          }
      }
    }
    }
  }
/* End Services*/
/* Start Ultra-Services */
.ultra-services {
  background-color: $section-color-two;
  @include breakpoints(small) {
    display: none;
  }
  .container {
    height: fit-content;
  background-color: $section-color-two;
  .main-title {
      margin-bottom: -3rem;
    }
    .row {
      margin-bottom: 5%;
      gap: 4rem;
      display: flex;
      @include flexCenter;
      .card {
        @include flexCenter;
        background: $color-hover;
        width: 100%;
        max-width: 220px;
        width: 100%;
        transition: $transition;
        a {
        padding: 30px 20px;
          
        }
        img {
          width: 50%;
          max-width: 180px;
          margin: 0 auto;
          display: block;
        }
        p {
          text-align: center;
          font-size: $font-size-small;
          color: white;
          font-weight: 500;
        }
        &:hover {
          margin-top: -1%;
        }
      }
    }
    .icon-carousel-control-prev {
      @include flexCenter;
      svg {
          color: $main-color;
          transform: translateY(-25px);
      }
    }
    .data-bs-target {
      background-color: $main-color;
    }
  }
}
/* End Ultra-Services */
/* Start Ultra-Services-mob */
.ultra-services-mob {
  display: none;
  @include breakpoints(small) {
    display: block;
  }
  background-color: $section-color-two;
  .container {
    .main-title {
      margin-bottom: -3rem;
    }
    .row {
      margin-bottom: 5%;
      gap: 2rem;
      display: flex;
      @include flexCenter;
      .card {
        @include flexCenter;
        background: $color-hover;
        width: 100%;
        max-width: 220px;
        width: 100%;
        transition: $transition;
        a {
        padding: 30px 20px;
          
        }
        img {
          width: 50%;
          max-width: 180px;
          margin: 0 auto;
          display: block;
        }
        p {
          text-align: center;
          font-size: $font-size-small;
          color: white;
          font-weight: 500;
        }
        &:hover {
          margin-top: -1%;
        }
      }
    }
    .icon-carousel-control-prev,
    .icon-carousel-control-next {
      @include flexCenter;
      svg {
          color: $main-color;
          transform: translateY(-25px);
      }
    }
    .indicators-btn {
      background-color: $main-color;
      margin-bottom: -4%;
    }
  }
}
/* End Ultra-Services-mob */